/* You can add global styles to this file, and also import other style files */
.btn-margin {
  margin: 7px 7px 0 0;
}
a {
  color: #629fa1 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #629fa1 !important;
  border-color: #629fa1 !important;
}

.headereven {
  background-color: #b2d0d1;
}

.headerodd {
  background-color: #b2d0d1;

}

.roweven {
  background-color: #e5efef
}

.rowodd {
  background-color: #f2f7f7
}
.nav-link.active {
  background-color: #eee;
}
