<div *ngIf="!(authService.user$ | async)">Log in</div>

<p *ngFor="let alert of alerts$ | async">
<ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>

<ngb-tabset *ngIf="(authService.user$ | async) && authService.isAdmin">
  <ngb-tab title="Kandidaten">
    <ng-template ngbTabContent>
      <app-kandidaten></app-kandidaten>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Uitzending">
    <ng-template ngbTabContent>
    <app-afleveringen></app-afleveringen>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Test">
    <ng-template ngbTabContent>
    <app-testvragen></app-testvragen>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Actie">
    <ng-template ngbTabContent>
    <app-acties (addAlert)="addAlertTo($event)"></app-acties>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<app-login *ngIf="!(authService.user$ | async)"></app-login>
