<div *ngIf="!auth.isAuthenticated()">Log in</div>

<ngb-tabset *ngIf="auth.isAuthenticated()">
  <ngb-tab title="Kandidaten">
    <ng-template ngbTabContent>
     <app-kandidaten></app-kandidaten>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Afleveringen">
    <ng-template ngbTabContent>
    <app-afleveringen></app-afleveringen>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Test vragen">
    <ng-template ngbTabContent>
    <app-testvragen></app-testvragen>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
